@breakpoint-1: 1200px;
@breakpoint-2: 1000px;
@breakpoint-tablet: 800px;
@breakpoint-mobile: 600px;

@unit: 40px;
@font-size: 21px;

@bg: #2C2C2C;
@text: #DDD;
@bg-invert: #F9F9F9;
@text-invert: #111;
@header-work-bg: #db2442;
@header-about-bg: #424ee2;
@header-contact-bg: #1bb475;
@header-text: rgba(255, 255, 255, 0.8);
