@media screen and (max-width:500px) {	
	header {
		padding: 20px;
		text-align: center;
		.wrap {
			width: inherit;
			padding: 0;
		}
		blockquote {
			position: inherit;
			bottom: 0;
			font-size: 18px;
			margin-top: 20px;
		}
	}
	footer {
		ul {
			width: 320px;
			li {
				margin: 0 10px;
				a {
					font-size: 60px;
					text-shadow: none;
				}
			}
		}
	}
	#content {
		padding: 0 20px 20px 20px;
		width: inherit;
	}
	img {
		max-width: 100%;
		display: block;
	}
	.grid {
		.row {
			margin: 0;
		}
		.item {
			width: inherit;
			height: inherit !important;
			float: none;
			margin: 20px 0;
			background-color: transparent;
			text-align: center;
			&.text {
				text-align: left;
			}
			img {
				margin: 0 auto;
			}
			.action {
				position: inherit;
				display: inline-block;
				margin: 10px 0 5px 0;
			}
		}
	}
	article {
		margin: 40px 0 !important;
		padding: 0 0 20px 0;
		border-bottom: 4px dashed #CCC;
		&:last-child {
			border-bottom-width: 0;
		}
	}
}
